<div class="container-fluid">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <h1>{{ mapTitle }}</h1>

    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true">

      <sebm-google-map-marker *ngFor="let c of items | async" [latitude]="c.lat" [longitude]="c.lng" [visible]="c.on">
        <sebm-google-map-info-window>
          <strong>{{c.name}}</strong>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>

    </sebm-google-map>
    <div class="panel panel-default">

      <div class="panel-heading">User information</div>

      <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="3">
        <thead>
          <tr>
            <th style="width: 40%">
              <mfDefaultSorter by="name">Name*</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="on">Is On</mfDefaultSorter>
            </th>
            <th style="width: 40%">
              <mfDefaultSorter by="state">Activity</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="text" *ngFor="let courier of items | async">
            <td (click)="focus(courier)" class="text-left">{{courier.name | uppercase}}</td>
            <td>
              <button (click)="turn(courier)" class="btn btn-danger">{{showStatus(courier.on)}}</button>
            </td>
            <td>{{showActivity(courier.state)}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
      *Click courier name to focus on his position
    </div>
  </div>
</div>
